@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes advancedDarkGradient {
    0% {
      background-position: 0% 50%;
      background-color: #1a1a1a;
    }
    25% {
      background-position: 50% 50%;
      background-color: #2d2d2d;
    }
    50% {
      background-position: 100% 50%;
      background-color: #3b3b3b;
    }
    75% {
      background-position: 50% 50%;
      background-color: #2d2d2d;
    }
    100% {
      background-position: 0% 50%;
      background-color: #1a1a1a;
    }
  }
  
  .bg-advanced-dark-gradient {
    background: linear-gradient(45deg, #121212, #1f1f1f, #2d2d2d, #3b3b3b, #121212);
    background-size: 400% 400%;
    animation: advancedDarkGradient 10s ease infinite;
  }
  